body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;
  font-style: normal;
  background-color: #f0f0f0;
  background-image: url('bg.jpg'); /* Add this line */
  background-size: cover;          /* Ensures it covers the whole background */
  background-position: center;     /* Center the image */
  background-repeat: no-repeat;    /* Prevent tiling */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
  
.container {
  background-color: rgba(255, 255, 255, 0.13); /* semi-transparent white */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
  backdrop-filter: blur(10px); /* The blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optional border to make it pop */
}
h1 {
  color:  #ffffff;
}
p {
  color:  #dfdfdf;
}
.soundcloud-class {
  display:  inline-block;
  padding:  10px 20px;
  border-radius:  5px;
  box-shadow:  0 4px 10px rgba(0,  0,  0,  0.1);
  text-decoration:  none;
  color:  #ffffff;
}
.discord-class {
  display:  inline-block;
  padding:  10px 20px;
  border-radius:  5px;
  box-shadow:  0 4px 10px rgba(0,  0,  0,  0.1);
  text-decoration:  none;
  color:  #ffffff;
}

.toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.15); /* transparent background */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  backdrop-filter: blur(10px); /* blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.1); /* subtle border */
}

.toggle-container button {
  background-color:  #5c5c5c;
  color:  #f0f0f0;
  border:  none;
  padding:  10px 20px;
  border-radius:  5px;
  cursor:  pointer;
  font-size:  16px;
  transition:  background-color 0.3s ease;
}
.toggle-container button:hover {
  background-color:  #222222;
  color:  #333;
}

.dark-mode .toggle-container {
  background-color: rgba(51, 51, 51, 0.08); /* Darker and more see-through */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.dark-mode{
  background-color: rgba(51, 51, 51, 0.08); /* Darker and more see-through */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.dark-mode .container {
  background-color:  #444444;
  color:  #f0f0f0;
}
.dark-mode .soundcloud-class {
  background-color:  #6b6b6b;
  color:  #ffffff;
}
.dark-mode .discord-class {
  background-color:  #6b6b6b;
  color:  #ffffff;
}    
.dark-mode h1, .dark-mode p {
  color:  #f0f0f0;
}
.dark-mode .github-class:hover {
  background-color:  #333;
  color:  #f0f0f0;
}
.copyright {
  position:  absolute;
  bottom:  10px;
  left:  10px;
  color:  #333;
  font-size:  12px;
  transition:  color 0.3s ease;
}
.dark-mode .copyright {
  color:  #f0f0f0;
}


* {
  box-sizing: border-box;
  margin: 10;
  padding: 0;
}

body {
  background-color: #efefef;
}